    * {
        margin: 0em;
        padding: 0em;
        box-sizing: border-box;
    }

    :root{
        --weight-bold: 600;
        --weight-regular: 400;
        --weight-light: 300;

        --text-size-normal: 1rem;
        --text-size-small: 0.875rem;
        --text-size-large: 1.625rem;
        --text-size-link: 1.25rem;

        --background-color: linear-gradient(135deg, #04060A 0%, #17243A 30%, #04060A 100%);
        --background-corso-info-color: #111111;
        --more-info-hover-background-color: rgb(17, 17, 31);
        --start-hover-background-color: #A6EDFF;

        --text-color: #fff;
        --text-color-2: #a0a0a0;
        --dark-text-color: #17243A;

        --highlight-background-color: linear-gradient(45deg, #A6EDFF  0%, #46DBF5 30%, #A6EDFF  100%);
        --highlight-text-color: #17243A;
        --error-text-color: #EE2F2F;

        --a-background-color: #17243A;
        --a-text-color: #fff;
        --a-visited-text-color: #b48adf; 
        
        --border-color: #46DBF5;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        border: 0;
    }

    .show-on-focus:focus {
        position: fixed;
        top: 1em;
        left: 1em;
        width: auto;
        height: auto;
        padding: 0.5em 1em;
        background-color: var(--background-color);
        color: var(--text-color);
        text-decoration: underline;
        clip: auto;
        overflow: visible;
        z-index: 1;
    }

    body {
        font-size: 1em;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        font-weight: lighter;
        color: var(--text-color);
        background: var(--background-color);  
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    a {
        color: var(--a-text-color);
    }

    a:visited {
        color: var(--a-visited-text-color);
    }

    abbr {
        text-decoration: none;
        border-bottom: none;
    }

    #back-to-top {
        position: fixed;
        bottom: 3rem;
        right: 6rem;

        width: 3rem;
        height: 3rem;

        border: 2px solid var(--highlight-text-color);
        border-radius: 50%;
        background-color: var(--border-color);
        color: var(--highlight-text-color);

        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;

        display: none;              /* nascosto di default */
        align-items: center;
        justify-content: center;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    /* INDEX */

    /*
    #######################################################################
    HEADER
    #######################################################################
    */

    header,
    #breadcrumb,
    main,
    footer {
        padding-left: clamp(4%, calc((100vw - 1200px) / 2), calc((100vw - 1200px) / 2));
        padding-right: clamp(4%, calc((100vw - 1200px) / 2), calc((100vw - 1200px) / 2));
    }

    header {
        line-height: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--background-color);
        border-bottom: 2px solid var(--border-color);
        z-index: 1000;
    }

    header h1 {
        width: 20%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #menu {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    #menu ul {
        width: 80%;
        list-style-type: none;
        text-align: center;
    }

    #menu div {
        text-align: right;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 1.5rem;
    }

    #menu li {
        display: inline-block;
        padding: 0.5rem;
    }

    header nav a {
        color: var(--a-text-color);
        text-decoration: none;
    }

    header nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.8rem;
    }

    header nav a:visited {
        color: var(--a-visited-text-color);
    }

    .current-page {
        font-weight: 1000;
    }

    .highlight-button {
        border: 2px solid var(--border-color);
        font-weight: 500;
        border-radius: 10px;
        padding: 0.5rem;
        background-color: var(--a-background-color);
        color: var(--a-text-color);
        text-decoration: none;
        white-space: nowrap;
        transition: 0.3s;
    }

    .highlight-button:visited {
        color: var(--a-visited-text-color)
    }

    .highlight-button:hover {
        transform: scale(1.04);
    }

    /*
    #######################################################################
    MAIN
    #######################################################################
    */

    #main {
        text-align: center;
        word-break: keep-all;
        overflow-wrap: anywhere;
        flex: 1;
    }

    #breadcrumb {
        text-align: center;
        color: var(--a-text-color);
        border-radius: 10px;
        padding-top: 1rem;
        font-weight: var(--weight-regular);
    }

    .breadcrumb-link:visited {
        color: var(--a-visited-text-color);
    }

    .first-sec {
        margin-top: 2.4rem;
    }

    section {
        margin-top: 1rem;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        gap: 10%;
    }

    .alt {
        flex-direction: row-reverse;
    }

    .alt2 {
        width: 100%;
        border-radius: 10px;
        border: 2px solid var(--border-color);
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .alt3 {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 1rem;
        text-align: left;  
    }
    
    .content {
        width: 45%;
        text-align: left;
    }

    .img {
        width: 45%;
    }

    .img img {
        width: 100%;
        border-radius: 10px;
    }

    section h1, article h1 {
        font-size: 3.5rem;   
    }

    section h2 {
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section h3 {
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section ul {
        font-size: 1.2rem;
    }
    
    section p {
        font-size: 1.2rem;
    }

    .content a, .info-orari {
        display: inline-block;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;
        border: 2px solid var(--border-color);
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        width: 40%;
    }

    .subtitle {
        width: 100%;
        font-size: 4.5rem;
        padding-top: 5rem;
    }

    .features-container {
        width: 100%;
    }

    #asset-sec {
        background: var(--highlight-background-color);
    }

    #asset-sec-title {
        color: var(--highlight-text-color);
    }

    .asset-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin: 2rem 0;
    }

    .asset-grid img {
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
        height: auto;
        display: block;
    }

    /*
    #######################################################################
    REGISTRAZIONE/LOGIN
    #######################################################################
    */

    form {
        text-align: center;
    }

    .default-form {
        width: 60%;
        margin: 3rem auto;
        padding: 2rem;
        background-color: var(--background-color);
        color: var(--text-color);
        border-radius: 10px;
        border: 2px solid var(--border-color);

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .default-form h1 {
        text-align: center;
        font-size: 2rem;
    }

    .default-form-fieldset {
        border: 0;
        border-top: 1px solid;
    }

    .default-form-group {
        display: flex;
        flex-direction: column;
    }

    .default-form-group label {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }

    .default-form-group input, .default-form-group textarea, .default-form-group select{
        width: 100%;
        padding: 0.8rem;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
    }

    .default-form-confirm-button {
        padding: 0.8rem;
        background: var(--highlight-background-color);
        border: 2px solid var(--border-color);
        border-radius: 10px;
        color: var(--highlight-text-color);
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s;
    }

    .default-form-confirm-button:hover {
        transform: scale(1.04);
    }

    .default-form-login-link {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.9rem;
        color: var(--text-color);
    }

    .default-form-login-link a:visited {
        color: var(--a-visited-text-color);
    }

    .errore {
        color: var(--error-text-color);
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }

    .default-form-error p {
        color: var(--error-text-color);
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }

    .suggerimento {
        font-size: 1rem;
        text-align: right;
    }

    /*
    #######################################################################
    CATALOGO CORSI
    #######################################################################
    */

    #catalog {
        border: 2px solid var(--border-color);
        border-radius: 25px;
        padding: 1rem 5% 1rem 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }


    #header-catalog {
        font-size: 2rem;
        margin-top: 1rem; 
    }


    #desc-catalog {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #form-catalog {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    /*
    #######################################################################
    LISTA CORSI
    #######################################################################
    */

    .content-container{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 2rem;
        margin-left: 1%;
        margin-right: 1%;
        align-items: stretch;
    }

    .container-link{
        text-decoration: underline;
        text-decoration-thickness: 3px;
        color: inherit;
        display: block;
    }

    .default-container{
        border: 2px solid var(--border-color);
        border-radius: 25px;
        text-align: left;
        padding-bottom: 1rem;
        overflow: hidden;
    }

    .titolo-container{
        padding-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .descrizione-container{
        font-size: 1rem;
        font-weight: 400;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .img-container{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        display: block;
    }

    .lista-info-corso{
        width: 100%;
        padding-top: 1rem;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
        justify-content: center;
    }

    .lista-info-corso > li{
        border: 2px solid var(--border-color);
        border-radius: 60px;
        background-color: var(--background-corso-info-color);
        padding: 0.6rem 1rem 0.6rem 1rem;
        font-size: 1rem;
    }

    .container-hero img{
        width: 100%;
        height: 18rem;
        object-fit: cover;
        display: block;
    }

    /*
    #######################################################################
    FOOTER
    #######################################################################
    */

    footer{
        background: var(--background-color);
        color: var(--text-color);
        border-top: 2px solid var(--border-color);
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    footer h2{
        font-size: 1.5rem;
    }

    footer ul {
        list-style-type: none;
    }

    .copyright {
        grid-column: 1 / -1;
        text-align: center;
        font-size: var(--text-size-small);
        margin-top: 1.25rem;
    }

    /*
    #######################################################################
    AREA PERSONALE
    #######################################################################
    */

    .alt3 {
        margin-bottom: 0rem;
    }

    .welcome-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .welcome-form a {
        color: inherit;
    }

    .welcome-msg {
        text-align: left;
        font-weight: 400;
        font-size: 2rem;
    }

    .viz-msg {
        text-align: left;
        font-weight: 400;
        font-size: 1.5rem;
    }

    table {
        text-align: center;
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        border: 2px solid var(--border-color);
        margin-bottom: 1rem;
    }

    th, td{
        border: 1px solid var(--border-color);
        padding: 0.5rem;
        font-size: 1rem;
        white-space: normal;
    }

    th{
        word-wrap: break-word;
        overflow-wrap: break-word
    }   

    .corso-link-tabella {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: inherit;
    }

    caption {
        text-align: center;
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: var(--weight-bold);
    }

    .action-btn {
        font-family: "Inter", sans-serif;;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding-top: 0.4rem;
        padding-bottom: 0.4rem;

        font-size: 1rem;
        font-weight: 500;

        text-decoration: underline;
        color: var(--text-color);
        background-color: var(--primary-color);

        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
    }

    .action-btn-danger:hover {
        color: var(--error-text-color);
    }

    /*
    #######################################################################
    DETTAGLIO CORSO
    #######################################################################
    */

    #corso-content {
        display: flex;
        gap: 4rem;
        align-items: flex-start;
    }

    #corso-appearance {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #corso-content img {
        border: 2px solid var(--border-color);
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 16/9;
    }
    
    aside {
        flex: 0.5;
        max-height: fit-content;
    }

    aside h3 {
        font-size: 2.5rem;
    }

    dl {
        width: max-content; 
        margin: 0 auto;
        text-align: left;
    }

    dt {
        font-weight: var(--weight-bold);
    }

    #recensione {
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 1rem;
        text-align: center;  
    }

    .login-azione-dettagliocorso{
        font-size: 1.2rem;
    }

    .recensione-user, .recensione-rating {
        padding-top: 0rem;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 0rem;
    }

    /*
    #######################################################################
    AREA ADMIN
    #######################################################################
    */

    .admin-msg {
        color: var(--text-color);
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .new-corso-form label, .new-corso-form button {
        margin-top: 0.8rem;
    }

    #visualizza-acquisti-form, #nuovo-corso-form, #modifica-utente-form {
        width:100%;
    }

    #modifica-utente-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #messaggi-form {
        width: 100%;
    }

    .default-form ul {
        list-style-type: none;
    }

    .default-form ul li {
        font-size: 1.3rem;
    }

    summary {
        cursor: pointer;
        font-weight: var(--weight-bold);
        font-size: var(--text-size-large);
        transition: 0.3s;
    }

    summary:hover {
        transform: scale(1.04);
        padding-left: 1rem;
    }

    details {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        border: 2px solid var(--border-color);
        border-radius: 10px;
    }

    .messaggi-list li + li {
        margin-top: 1rem;
    }

    .messaggi-list strong {
        font-size: 1.6rem;
        font-weight: var(--weight-bold);
    }

    .messaggi-list {
        padding-left: 2rem;
    }


    /*
    #######################################################################
    CONTATTI
    #######################################################################
    */

    #contatti{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #form-messaggio {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #form-messaggio .default-form {
        margin-top: -0.6rem;
    }

    #content-contatti {
        width: 100%;
        text-align: center;
    }

    #content-contatti h6 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    /*
    #######################################################################
    NEWS
    #######################################################################
    */

    .titolo-news {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .descrizione-news {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #news-sec {
        margin-bottom: 5rem;
    }
    

    /*
    #######################################################################
    CHI SIAMO
    #######################################################################
    */

    #team-list {
        list-style-type: disc;
        list-style-position: inside;
        margin-top: 0.3rem;
    }

    
