* {
    margin: 0em;
    padding: 0em;
}
:root {
    --txtcolor: #fff;
    --bgcolor: linear-gradient(135deg, #101112, #242440);
    --headerbgcolor: #101112;
    --highlightcolor: #29C183;
}

body {
    width: 100%;
    margin: auto;
}

html, body {
    font-size: 1em;
    font-family: "Verdana",sans-serif;
    line-height: 1.5em;
    margin: auto;
    color: var(--txtcolor);
    background: var(--bgcolor);
}

/* HEADER */
header {
    background-color: var(--headerbgcolor);
    color: var(--txtcolor);
    overflow: hidden;
    padding: 1rem 5% 1rem 5%;
}

header h1 {
    padding: 10px 10px;   
    float: left;
}

#menu {
    font-size: 1.5em;
    float: right;
}

#menu ul {
    list-style-type: none;
    display: inline-block;
}

#login {
    margin-left: 5rem; /* spazio verso la sinistra */
}

#menu li {
    display: inline-block;
    padding: 10px 10px;   
}

#reg {
    background-color: var(--highlightcolor);
    border-radius: 8px;
}

#acc {
    border: 1px solid var(--highlightcolor);
    border-radius: 8px;
}

#acc a:link {
    color:var(--highlightcolor);
    font-weight: bold;
}

#reg a:link {
    color:var(--headerbgcolor);
    font-weight: bold;
}

/* MAIN */
main h1 {
    width: 40%;
    text-align: left;
    margin-left: 5%;
    padding-left: 10px;
    padding-top: 8rem;
    padding-bottom: 1.5rem;
    font-size: 3em;
    line-height: 1.5em;
}

main h2 {
    width: 40%;
    text-align: left;
    margin-left: 5%;
    padding-left: 10px;
    padding-bottom: 8rem;
    font-size: 1.5em;
    line-height: 1.5em;
}