* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

:root{
    --txtcolor: rgba(255, 255, 255); 
    --highlightcolor: #29C183;
    --bgcolor: linear-gradient(135deg, rgba(24, 23, 37, 1), rgba(36, 36, 64, 1));     /* background */
    --s2bgcolor: rgba(9, 9, 10);
    --s3bgcolor: rgba(16, 17, 18);
    --bordercontcolor: rgba(76,33,128,1);
    --s3c1bgcolor: rgba(18, 7, 31);
    --s3c2bgcolor: rgba(27, 10, 46);
    --s3c3bgcolor: rgba(37, 5, 74);
}

body {
    overflow-x: hidden; /* sennò lo slide orizzontale causa la pagina di avere dimensione maggiore fino a quando avviene lo slide (section3) */
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    color: var(--txtcolor);
    background: var(--bgcolor);  
}

/* HOME */

/* header */

header {
    line-height: 1.5em;
    overflow: hidden;
    padding: 1em 10%;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #29C183;
}

header h1 {
    padding: 0.5rem;
    float: left;
}

#menu {
    float: right;
}

#menu ul {
    list-style-type: none;
}


#menu li {
    display: inline-block;
    padding: 0.5rem;
}

header a {
    color: var(--txtcolor);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.8rem;
}

header a:visited {
    color: var(--txtcolor);
}


.current-page {
    font-weight: 1000;
    border: 2px solid var(--highlightcolor);
    border-radius: 10px;
}



/* main */

/*#back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 9rem;
  z-index: 1; /* per metterlo sopra il contenuto 
  width: 3rem;
  height: 3rem;

  border: none;
  border-radius: 10%;
  background: var(--highlightcolor);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;

  opacity: 0;
  transition: opacity 2s ease, transform 0.3s;
  pointer-events: 0;
}

#back-to-top:hover {
  transform: scale(1.1);
}

#back-to-top.visible {
    opacity: 1;
    pointer-events: auto;
}*/

main {
    padding: 1em 10%;
    text-align: center;
}

section {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}

#title{
    font-size: 4rem;
    text-align: left;
    transition: all 1s ease-out;
    transition-delay: 0.7s;     
}

#subtitle{
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: left;  
}

#top {
    text-align: left;
    width: 60%;
    padding-right: 20%;
}

#top a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    border: 2px solid var(--highlightcolor);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    width: 40%;
}

section img {
    width: 40%;
}

#start {
    background-color: var(--highlightcolor);
    color: rgb(17, 17, 31);
}

#start:hover {
    background-color: rgb(31, 145, 99);
}

#more-info {
    font-size: 1.5rem;
    color: var(--txtcolor);
}

#more-info:hover {
    background-color: rgb(17, 17, 31);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

h3 {
    width: 100%;
    font-size: 4.5rem;
    padding-top: 5rem;
}

.features-container {
    width: 100%;
}
/*
.feature-box {
    width: 25%;
    padding: 2rem;
    border-radius: 12px;
    border: 2px solid var(--bordercontcolor);
    opacity: 0;
    transform: translateY(20rem);
    transition: all 0.8s ease-out;
}

.feature-box.visible {
    opacity: 1;
    transform: translateY(0);
}


.feature-box h4 {
    font-size: 2rem;
    padding-bottom: 2em;
}

.feature-box p {
    font-size: 1.5rem;
}
*/


/* SECTION 3*/
/*#section3 {
    height: 100vh;
}


.feature-box2 {
    width: 100%;
    padding: 10rem;
    opacity: 0;
    transform: translateX(40rem); /* PROBLEMA VISUALIZZAZIONE PAGINA */
/*    transition: all 0.8s ease-out;
}

.feature-box2.visible {
    opacity: 1;
    transform: translateX(0);
}

#s3c1 {
    background: var(--s3c1bgcolor);
}

#s3c2 {
    background: var(--s3c2bgcolor);
}

#s3c3 {
    background: var(--s3c3bgcolor);
}

.feature-box2 h3 {
    font-size: 2rem;
}

.feature-box2 p {
    font-size: 1.5rem;
}
*/

/* REGISTRAZIONE */

.register-form {
    width: 30%;
    margin: 5rem auto;
    padding: 2rem;
    background: rgba(255,255,255,0.05);
    border: 2px solid var(--highlightcolor);
    backdrop-filter: blur(10px);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.register-form h2 {
    text-align: center;
    font-size: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.form-group input {
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

.cta-btn {
    padding: 0.8rem;
    background: var(--bgcolor);
    border: 2px solid var(--highlightcolor);
    border-radius: 10px;
    color: var(--bgcolor);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

.cta-btn:hover {
    transform: scale(1.04);
}

.login-link {
    text-align: center;
    font-size: 0.9rem;
}

.login-link a {
    text-decoration: none;
    color: var(--highlightcolor);
}