    * {
        margin: 0em;
        padding: 0em;
        box-sizing: border-box;
    }

    :root{
        --weight-bold: 600;
        --weight-regular: 400;
        --weight-light: 300;

        --text-size-normal: 1rem;
        --text-size-small: 0.875rem;
        --text-size-large: 1.625rem;
        --text-size-link: 1.25rem;

        --background-color: linear-gradient(135deg, #04060A 0%, #17243A 30%, #04060A 100%);
        --text-color: #fff;
        --highlight-background-color: linear-gradient(45deg, #A6EDFF  0%, #46DBF5 30%, #A6EDFF  100%);

        --highlight-text-color: #17243A;
        --error-text-color: #EE2F2F;

        --a-background-color: #17243A;
        --a-text-color: #fff;
        --a-visited-text-color: #fff; /*DA DEFINIRE*/
        
        --a-highlight-background-color: #46DBF5;
        --a-highlight-text-color: #17243A;
        --a-highlight-visited-text-color: #17243A; /*DA DEFINIRE*/

        --border-color: #46DBF5;
    }

    .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
    }

    .show-on-focus:focus {
    position: fixed;
    top: 1em;
    left: 1em;
    width: auto;
    height: auto;
    padding: 0.5em 1em;
    background-color: var(--background-color);
    color: var(--text-color);
    text-decoration: underline;
    clip: auto;
    overflow: visible;
    z-index: 1;
    }

    body {
        font-size: 1em;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        font-weight: lighter;
        color: var(--text-color);
        background: var(--background-color);  
    }

    /* HOME */

    /* header */

    header,
    #breadcrumb,
    main,
    footer {
        padding-left: calc((100vw - 1200px) / 2);
        padding-right: calc((100vw - 1200px) / 2);
    }

    header {
        line-height: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--background-color);
        border-bottom: 2px solid var(--border-color)
    }

    header h1 {
        width: 20%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #menu {
        width: 60%;
        text-align: center;
    }

    header div {
        width: 20%;
        text-align: right;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #menu ul {
        list-style-type: none;
    }


    #menu li {
        display: inline-block;
        padding: 0.5rem;
    }

    header nav a {
        color: var(--a-text-color);
        text-decoration: none;
    }

    header nav a:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.8rem;
    }

    header nav a:visited {
        color: var(--a-visited-text-color);
    }

    .current-page {
        font-weight: 1000;
    }

    .highlight-button {
        border: 2px solid var(--border-color);
        border-radius: 10px;
        padding: 0.5rem;
        background-color: var(--a-highlight-background-color);
        color: var(--a-highlight-text-color);
        text-decoration: none;
    }

    .highlight-button:hover {
        background-color: rgb(31, 145, 99);
    }

    /* main */


    main {
        text-align: center;
    }

    #breadcrumb {
        text-align: center;
        color: var(--a-text-color);
        border-radius: 10px;
        padding-top: 1rem;
        font-weight: var(--weight-regular);
    }

    .breadcrumb-link:visited {
        color: var(--a-visited-text-color);
    }

    section {
        margin-top: 1rem;
        margin-bottom: 5rem;
        display: flex;
        align-items: center;
        gap: 10%;
    }

    .alt {
        flex-direction: row-reverse;
    }

    .alt2 {
        border-radius: 10px;
        background: var(--highlight-background-color);
        color: var(--highlight-text-color);
        flex-direction: column;
    }

    .content {
        width: 45%;
        text-align: left;
    }

    .img {
        width: 45%;
    }

    .img img {
        width: 100%;
        border-radius: 10px;
    }

    section h1 {
        font-size: 3.5rem;   
    }

    section h2 {
        font-size: 2rem;
        padding-top: 1rem;
    }

    section h3 {
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section ul {
        font-size: 1.2rem;
    }
    
    section p {
        font-size: 1.2rem;
    }

    .content a {
        display: inline-block;
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.5rem;
        border: 2px solid var(--border-color);
        border-radius: 10px;
        text-decoration: none;
        text-align: center;
        width: 40%;
    }


    #start {
        background-color: var(--a-highlight-background-color);
        color: var(--a-highlight-text-color);
    }

    #start:hover {
        background-color: rgb(31, 145, 99);
    }

    #more-info {
        color: var(--a-text-color);
    }

    #more-info:hover {
        background-color: rgb(17, 17, 31);
    }


    .subtitle {
        width: 100%;
        font-size: 4.5rem;
        padding-top: 5rem;
    }

    .features-container {
        width: 100%;
    }


 /*
    #######################################################################
    REGISTRAZIONE
    #######################################################################
    */

    #register-form, #login-form {
        width: 40%;
        margin: 3rem auto;
        padding: 2rem;
        background: var(--background-color);
        color: var(--text-color);
        border-radius: 10px;
        border: 2px solid var(--border-color);

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #register-form h1, #login-form h1 {
        text-align: center;
        font-size: 2rem;
    }

    fieldset {
        border: 0;
        border-top: 1px solid;
    }

    fieldset div{
        display: flex;
        flex-direction: column;
    }

    fieldset div label {
        text-align: left;
        font-size: 1.rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
    }

    fieldset div p {
        text-align: left;
    }

    fieldset div input,
    fieldset div textarea,
    fieldset div select {
        padding: 0.8rem;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
    }

    form div button {
        padding: 0.8rem;
        background: var(--highlight-background-color);
        border: 2px solid var(--border-color);
        border-radius: 10px;
        color: var(--highlight-text-color);
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s;
    }

    form div button:hover {
        transform: scale(1.04);
    }

    .login-link {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.9rem;
    }

    .login-link a {
        color: var(--highlight-color);
    }

    .errore {
        color: var(--error-text-color);
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }

    .errore-registrazione p {
        color: var(--error-text-color);
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }

    .suggerimento {
        font-size: 1rem;
        text-align: right;
    }

    /*
    #######################################################################
    CATALOGO CORSI
    #######################################################################
    */

    .catalog {
        border: 2px solid var(--border-color);
        border-radius: 25px;
        padding: 1rem 5% 1rem 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-left: 10%;
        margin-right: 10%;
        text-align: left;
    }


    #header-catalog {
        font-size: 2rem;
        margin-top: 1rem; 
    }


    #desc-catalog {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #form-catalog {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 1rem;
        text-align: left;
        font-size: 1.2rem;
    }

    .label-filtro{
        padding-right: 50%;
    }


    .filtro-catalog {
        margin-top: 0.7rem;
        padding: 0.5rem 10rem 0.5rem 2rem;
        background-color: var(--background-color);
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        color: var(--a-text-color);
        border: 2px solid var(--border-color);
        border-radius: 20px;
    }

    /*
    #######################################################################
    LISTA CORSI
    #######################################################################
    */

    .content-corsi{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr; /* NEL CASO DI RESIZE DELLA FINESTRA O MOBILE SI POTREBBE METTERE A COLONNA SINGOLA */
        grid-gap: 2rem;
        margin-left: 1%;
        margin-right: 1%;
    }

    .corso-link{
        text-decoration: underline;
        text-decoration-thickness: 3px;
        color: inherit;
        display: block;
    }

    .corsi{
        border: 2px solid var(--border-color);
        border-radius: 25px;
        text-align: left;
        padding-bottom: 1rem;
        overflow: hidden;
    }

    .titolo-corso{
        padding-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
        padding-left: 2rem;
    }

    .img-corso{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        display: block;
    }

    .lista-info-corso{
        padding-top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        gap: 1rem;
    }

    .lista-info-corso > li{
        border: 2px solid var(--border-color);
        border-radius: 25px;
        background-color: #111111;
        padding: 0.8rem;
        font-size: 1rem;
    }

    .descrizione-corso{
        font-size: 1rem;
        font-weight: 400;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .corso-hero img{
        width: 100%;
        height: 18rem;
        object-fit: cover;
        display: block;
    }

    /*
    #######################################################################
    FOOTER
    #######################################################################
    */

    footer{
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    footer img{
        width: 100px;
        height: 61px;
    }

    .center-footer{
        margin-top: 0.5rem;
    }

    .right-footer{
        margin-top: 0.5rem;
    }

    footer h4{
        font-size: 1.5rem;
    }

    footer ul{
        margin-top: 0.5rem;
        list-style: none;
    }

    #lista-account-footer li, #lista-pagine-footer li{
        padding-top: 1rem;
    }

    footer a{
        color: inherit;
    }

    #contatti-footer-link{
        font-size: 1rem;
        font-weight: 100;
        padding-left: 5px;
    }

    /*
    #######################################################################
    AREA PERSONALE
    #######################################################################
    */

    .confirm-registration{
        color: var(--text-color);
    }

    .welcome-form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .welcome-form a {
        color: inherit;
    }

    .welcome-msg {
        text-align: left;
        font-weight: 400;
        font-size: 2rem;
    }

    .viz-msg {
        text-align: left;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .corso-section, .recensioni-section {
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .corsi-acquistati {
        width: 100%;
    }

    .tabella-corsi-acquistati, .tabella-recensioni-effettuate {
        text-align: center;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin-top: 1rem;
        border: 2px solid var(--border-color);
    }

    .tabella-corsi-acquistati th, .tabella-corsi-acquistati td, .cont, .tabella-recensioni-effettuate td {
        border: 1px solid var(--border-color);
        padding: 0.5rem;
        font-size: 1rem;
    }

    .rec-titolo {
        width: 25%;
    }

    .rec-voto {
        width: 9%;
    }

    .rec-modifica, .rec-elimina {
        width: 13%;
    }

    .rec-descrizione {
        width: 40%;
    }

    .corso-link-tabella {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: inherit;
    }

    .table-caption {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }

    .action-btn {
        font-family: "Inter", sans-serif;;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        font-weight: 500;

        text-decoration: underline;
        color: #fff;
        background-color: var(--primary-color);

        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
    }
    .action-btn-danger:hover {
        color: var(--error-text-color);
    }



